

.side_menu_button_wrapper .header_bottom_right_widget_holder .qbutton.large .qode_button_icon_element, .qbutton.large i{
    float: left;
    margin: 15px 10px 0 0;
    font-size: 22px;
}
.q_icon_with_title.custom_icon_image.center .icon_holder {
    margin: 0 0 33px;
}

@media only screen and (min-width: 601px){
.testimonials_c_holder .testimonial_content_inner {   
    padding: 0px 127px;
}
}

.q_icon_with_title:not(.center) .icon_text_inner .icon_title{
    margin-bottom: 5px;
}
.q_price_table{
    border: 1px solid #f2eff1;
    box-sizing: border-box;box-shadow: 3px 4px 10px 0px rgba(74, 42, 62, 0.1);
}

.q_price_table .price_table_inner{
    background-color: #fff;
}

.price_table_inner ul li, .price_table_inner ul li.pricing_table_content{
    padding: 40px 0 10px;
}

.price_table_inner ul li.pricing_table_content li{
    font-size: 16px;
    color: #6b6a6a;
    border-top: 1px solid #e7e4e4;
    padding: 9px 20px 9px;
}

.price_table_inner ul li.pricing_table_content li:last-child{
    border-bottom: 1px solid #e7e4e4;
}

.price_in_table{
    color: #ff9f1f
}

.price_in_table .price{
    font-size: 100px;
    font-weight: 300;
}

.price_in_table .value{
    font-size: 30px;
}

.price_in_table .mark{
    font-size: 30px;
    text-transform: lowercase;
    font-weight: 400;
}

.price_table_inner ul li.table_title{
    padding-top: 56px;
    padding-bottom: 20px;
}

.price_table_inner .price_button{
    padding: 23px 0 32px;
}

.q_elements_item.qode-eh-with-shadow {
border: 1px solid #f2eff1;
box-shadow: 3px 4px 10px 0px rgba(74, 42, 62, 0.1);
}
header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a{
    opacity: 1;
}

@media only screen and (max-width: 600px){
    .wpcf7-form .two_columns_form_with_space, .wpcf7-form .two_columns_form_with_space .column_left, .wpcf7-form .two_columns_form_with_space .column_right{
        display: block;
        width: 100%;
        padding: 0;
    }

    .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit{
        margin-top: 15px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
}
@media only screen and (max-width: 768px){
    .qode_pricing_tables.three_columns .q_price_table{
        width: 100%;
        margin-left: 0;
        margin-bottom: 25px;
    }
}
.testimonials_c_holder .flex-control-nav{
    margin-top: 20px;
}
.header_bottom_right_widget_holder{
    padding-right: 0;
}
header.sticky .header_bottom, header .header_bottom{
    box-shadow: 3px 4px 10px 0px rgba(74, 42, 62, 0.1);
}

/* Change background and text color */
.caldera-grid .btn {
border-radius: 58px !important;
width:15%;    
background-color:#FBAB18 !important;
    color:white !important;
    font-weight: 900;
}

/* Change background and text color on hover */
.caldera-grid .btn:hover {
    background-color:#396AB3 !important;
    color:#FFFFFF !important;
}
.single .title {
	display: none;
}
.single .content {
    margin-top: 0px !important;
}